 Documentation [Click Here](https://docs.google.com/document/d/15nT7APB8PobTcnZbi0j2G7Dmf_ivarzG0Cs9w08tOQ4/edit)

# Tuples
1. Immutable
2. Using () elements are seperatwd by,
3. Indexed,Ordered

In [1]:
#Tuple
t1=(1,2,3,4,"abc",True)
print(type(t1))

<class 'tuple'>

In [2]:
print(t1[2])
print(t1[-1])

3
True

In [4]:
l=list(t1)
print(l)

[1, 2, 3, 4, 'abc', True]

In [13]:
list1=list(t1)
list1[2]=100
t1=tuple(list1)
t1

(1, 2, 100, 4, 'abc', True)

# Built-in methods:
1. count()
2. index()

In [16]:
print(t1.count(2))
print(t1.index(2))

1
1

In [17]:
#unpacking
t2=(1,2,3,4)
a,b,c,d=t2
print(c)

3

In [19]:
#packing
x=10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [20]:
y=(10,)
print(type(y))

<class 'tuple'>

In [22]:
#Iterating in tuples
for ele in x:
    print(ele,end=" ")

10 20 30

## Set
1. ()
2. Does not allow duplicate values
3. Not ordered
4. Unindexed
5. Mutable

In [24]:
set1={1,2,3,4,5,2,1}
print(set1)

{1, 2, 3, 4, 5}

In [25]:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 3, 4, 5}
5
1
5

In [31]:
list1=[1,2,3,4,5,1,2,3,4,5]
list1= set (list1)
list1

{1, 2, 3, 4, 5}

# Built-in methods:
1. add()
2. pop()
3. remove()
4. discard()
5. clear()

In [32]:
set2=set()
print(type(set2))

<class 'set'>

In [34]:
#Adding into set
set2.add(12)
set2.add(13)
set2.add(14)
set2.add(15)
set2

{12, 13, 14, 15}

In [35]:
set2.pop()

12

In [36]:
set2

{13, 14, 15}

In [37]:
set2.remove(14)

In [38]:
set2

{13, 15}

In [39]:
set2.discard(15)

In [40]:
set2

{13}

In [41]:
set2.clear()

In [42]:
set2

set()

In [45]:
#Union,Difference,intersection,subset,super set,disjoint
#Symmetric difference
A={1,2,3,4,5}
B={3,4,5,6,7}
#Union A U B ==> {1,2,3,4,5,6,7}
print(A.union(B))
# A - B ==>{1,2}
# B - A ==>{6,7}
print(A.difference(B))# A - B
print(B.difference(A))# B - A
# Intersection A and B ==> {3,4,5}
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [48]:
# subset,super set,disjoint
#symmetric difference
C={1,2,3,4,5,6,7,8,9,10}
print(A.issubset(C)) #True 
print(A.issubset(B)) #False
print(C.issuperset(A)) #True
print(C.issuperset(B)) #True

True
False
True
True

In [50]:
#Disjoint
X={1,2}
Y={23,34,45}
print(A.isdisjoint(B)) #False
print(X.isdisjoint(Y)) #True

False
True

In [53]:
#Symmetric Difference ==>(A-B U B-A)
print(A.symmetric_difference(B))
print(A)
print(B)

{1, 2, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [55]:
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5}
{3, 4, 5, 6, 7}

In [56]:
A.symmetric_difference_update(B)
print(A)
print(B)

{6, 7}
{3, 4, 5, 6, 7}

In [58]:
A={1,2,3}
B={2,3,4}
print(A.difference(B))# A - B
print(B.difference(A))
print(A.symmetric_difference(B)) # A-B union B-A
print(A)
print(B)
print(A.symmetric_difference_update(B))
print(A)
print(B)

{1}
{4}
{1, 4}
{1, 2, 3}
{2, 3, 4}
None
{1, 4}
{2, 3, 4}

## Dictionary
dictionary name={"key1":"value1",....)
### Rules:
1. keys should be unique
2. keys should be immutable(ex:numerics,string,tuple)

In [63]:
#creating a dictionary
d1={"name":"AJ","emp id":1,"address":"nzb"}
print(d1)

{'name': 'AJ', 'emp id': 1, 'address': 'nzb'}

In [64]:
#Extracting an Element
print(d1["emp id"])

1

In [66]:
#Removing or deleting an entry
del d1["address"]
print(d1)

{'name': 'AJ', 'emp id': 1}

In [67]:
#Adding an entry
d1["course"]="python"
print(d1)

{'name': 'AJ', 'emp id': 1, 'course': 'python'}

### Built-in methods:
1. keys()
2. items()

In [69]:
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['name', 'emp id', 'course'])
dict_values(['AJ', 1, 'python'])
dict_items([('name', 'AJ'), ('emp id', 1), ('course', 'python')])

In [70]:
#Extracting an element
print(d1["name"])
print(d1.get("name"))

AJ
AJ

In [72]:
d={1:1,2:2,3:3}
d1.update(d)
print(d1)

{'name': 'AJ', 'emp id': 1, 'course': 'python', 1: 1, 2: 2, 3: 3}

In [73]:
#Removing an entry ==> pop(),popitem()
d1.pop(3)
d1

{'name': 'AJ', 'emp id': 1, 'course': 'python', 1: 1, 2: 2}

In [75]:
d1.pop("name")
d1

{'emp id': 1, 'course': 'python', 1: 1, 2: 2}

In [77]:
d1.popitem()

(1, 1)

### Built-in methods:
1. keys()
2. values()
3. items()
4. get() 
5. update()
6. pop()
7. popitem()

In [96]:
#import random
#random.ranint(1,100)
#random.choice()